@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
background-color: lightgrey;
color:#0f141e;

font-size:16px;

font-family: 'Roboto Condensed', sans-serif;
}

h1{
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 5px;
    /*word-spacing: 10px;*/
}
/*Box-Model*/

.container{
    max-width: 1000px;
    margin:auto;
}
.card{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.bg-lightgrey{
    background: #f1f1f1;
}
h1{
    text-align: center;
}

.txt{
    text-align: center;
}
.table{
    width: 100%;
}
.table td{
    padding-bottom: 5px;
}
input {
    width: 95%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid;
    padding:10px, 0, 15px;
    outline: none;
    font-family: inherit;
}
textarea{
    width: 100%;
}
.btn{
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
  background:#000;  
  color:white;
  border:none;
  font-family: inherit;
  font-size: 16px;
  cursor:pointer;
}
btn:hover{
    opacity: 0.6;
}